<html>

    <head>
        <link rel='stylesheet' type='text/css' href='/login.css' />

    </head>
    <body>

        <div class='login-container'>
            <form action="/login" method="POST">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                <button type="submit">Login</button>
            </form>
            <a href='/register'>Create an account</a>
        </div>
    </body>
</html>


