<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Submission Success</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      text-align: center;
      padding: 20px;
    }

    .message {
      background-color: #dff0d8;
      border: 1px solid #d0e9c6;
      color: #3c763d;
      padding: 10px 20px;
      margin: 20px auto;
      max-width: 400px;
      border-radius: 5px;
    }

    button {
      background-color: #337ab7;
      color: white;
      border: none;
      padding: 10px 20px;
      text-decoration: none;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #286090;
    }

    button a {
      color: white;
      text-decoration: none;
    }

    button a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <div class="message">
    <nav>
      <p>VIT COMPLAINTS</p>
      <ul>
        <li><a href='/'>Home</a></li>
        <li class='nav-button'><a href='/complaints'>Submit a Complaint</a></li>

      </ul>
    </nav>
    <p>Form submitted successfully!</p>
  </div>
  <a href="/"><button>Go to Home</button></a>
</body>
</html>
